<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Put your computer to sleep</p>
    <form action="/sleep" method="post">
      <input type="submit" value="Sleep Now">
    </form>
  </body>
</html>
